
/* Main
*
*/
body {
    width: 100%;
    min-width: 200px;

    display: flex;
    flex-flow: column wrap;


    font-size: 16px;  /*Default size*/
}


/*
 Centers all blocks inside page
 */
body > * {
    width: 85%;
    margin: 0 auto;
    padding: 10px 5px;
}

li {

    list-style: none;

}

ul {

    padding-left: 0;
}


.row-flex-default {
    display: flex;

}

figure > img {
    text-align: center;

}

/*
   Header


 */

#top-navbar-list {
    padding-left: 15px;
}


#top-navbar-list > li {
    display: inline-block;
    width: 70px;


}


#top-navbar-list > li a {
    text-decoration: none;
}

#top-navbar-list > li a:visited {
    text-decoration: none;
}

#header-box {


}

#occup {
    font-size: 1.1em;
}




#resume {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 200px;

    height: 700px;
}
/*
Resume main parts
 */

.left-side {
    width: 40%;
}


.right-side {
    width: 50%;
}


/*
footer
 */



